.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 150px;
    align-items: center;
    padding: 10px;
    background-color: green;
}

.header img {
    max-width: 50px;
}