
.postItem {
    max-width: 500px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.postItem p {
    margin-left: 10px;
}

.postItem img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.postItem span {
    display: block;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
}