ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,p,div,ul,li,input,textarea,button {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: inherit;
}

img {
  max-width: 100%;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "header header "
  "nav cont ";
  grid-template-rows: 60px 1fr ;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}


.app-wrapper-content {
    grid-area: cont;
}



  
  